*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif
  /* Otros filtros posibles */
  /* blur, brightness, contrast, drop-shadow, hue-rotate, invert, opacity, saturate, sepia */
a
  text-decoration: none

img
  filter: brightness(18%)


