* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: #ffffff;
}

main {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./imagenes/fondo de netflix.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 11%;
}
nav div {
  display: flex;
  align-items: center;
}
nav div a {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  background: rgb(229, 9, 20);
  height: 35px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
nav div a:first-child {
  background: #000;
  border: 1px solid #666;
}

.logo {
  width: 150px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.language {
  width: 18px;
  margin-right: 5px;
}

.arrow {
  width: 10px;
  margin-left: 10px;
}

.contenedor-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 5%;
}
.contenedor-principal h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.contenedor-principal h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
.contenedor-principal p {
  margin-bottom: 25px;
}
.contenedor-principal div {
  display: flex;
  align-items: center;
}

.input {
  width: 400px;
  height: 50px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(26, 25, 25);
  outline: 0;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  font-size: 16px;
}
.input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
.input::placeholder {
  color: rgb(255, 255, 255);
}

.boton-inicio {
  width: 200px;
  height: 50px;
  border: 0;
  background-color: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 5px;
  margin-left: 12px;
  cursor: pointer;
}

.secundario {
  position: relative;
  padding: 10px 11%;
  margin-top: 10px;
}

.secundario::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: transparent;
  border-top: 5px solid #d81313;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}

.subtitulo {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 22px;
}

.tendencias {
  display: flex;
  padding: 15px;
}

.slide {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.slide img {
  width: 80%;
  border-radius: 5px;
  transition: transform 0.3s ease, width 0.3s ease;
}
.slide:hover img {
  transform: scale(1.05);
}

.precedence-number {
  position: absolute;
  bottom: 3px;
  left: -30px;
  color: rgb(0, 0, 0);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 90px;
  font-weight: bold;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.beneficios {
  margin-left: 80px;
}

.beneficios-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  margin-bottom: 30px;
  margin-right: 50px;
}
.beneficios-items div {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(to bottom, #1c1a33, #381b41);
  height: 200px;
  position: relative;
}
.beneficios-items div h3 {
  margin-bottom: 10px;
}
.beneficios-items div p {
  font-size: 15px;
}
.beneficios-items div img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.preguntas {
  margin-right: 60px;
  margin-left: 60px;
}

.accordion {
  margin: 20px 0px;
  width: 100%;
}
.accordion .content {
  background: rgb(48, 48, 48);
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  font-size: 20px;
  transition: max-height 0.3s, padding 0.3s;
}
.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}
.accordion li label {
  display: flex;
  padding: 20px;
  height: 80px;
  font-size: 22px;
  background-color: rgb(48, 48, 48);
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}
.accordion li label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

.accordion input[type=checkbox]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type=checkbox]:checked + label::after {
  transform: rotate(135deg);
}

input[type=checkbox] {
  display: none;
}

.comienza-ahora {
  margin: 60px;
  text-align: center;
}
.comienza-ahora p {
  margin-bottom: 20px;
}
.comienza-ahora div {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 0 11%;
}
footer div {
  gap: 100px;
}
footer p {
  color: rgb(153, 153, 153);
  font-size: 14px;
  padding: 30px;
}
footer .enlaces {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
footer a {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: underline;
}

.language-img {
  width: 18px;
  margin-left: 5px;
}

.arrow {
  width: 10px;
  display: flex;
  align-items: center;
}

.idioma a {
  display: inline-flex;
  align-items: center;
  margin: 6px;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255);
}

.ultimo-parrafo {
  margin-bottom: 90px;
}

@media (max-width: 700px) {
  nav {
    padding: 15px 6%;
  }
  .logo {
    width: 100px;
  }
  .contenedor-principal h1 {
    font-size: 40px;
  }
  .contenedor-principal h3 {
    font-size: 15px;
  }
  .contenedor-principal p {
    line-height: 20px;
    font-size: 14px;
  }
  .contenedor-principal .input {
    width: 260px;
  }
  .slide:nth-child(n+4) {
    display: none;
  }
  .beneficios-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 900px) {
  .slide:nth-child(n+5) {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */